/* Fondo oscuro */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: #000;
  background: rgba(0, 0, 0, 0.5); /* semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* que quede sobre todo */
}

/* Caja blanca centrada */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 600px;
  height: 50vh;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.25s ease-in-out;
}

/* Botón cerrar */
.modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #000;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
